/* You can add global styles to this file, and also import other style files */

.overflow-hidden{
    overflow: hidden;
}

.col-md-6{
    padding-left: 0px !important;
}

.input-btn{
    border: 1px;
    border-color: lightgray;
    border-style: solid solid solid solid;
}